// Оформление переключателя

@use 'variables'
@use 'mixins'
// @use 'style'

.switch
    @include mixins.flex-direction-centr()
    // @extend %flex-direction-centr-shared
    justify-content: space-between
    @include mixins.text-parametrs(400, 16px, 150%)
    letter-spacing: 0.03em
    
    input
        display: none

.slider
    @include mixins.cursor-pointer()
    @include mixins.transition()
    @include mixins.flex-direction-centr()
    // @extend %flex-direction-centr-shared
    // @extend %cursor-pointer-shared
    position: relative
    @include mixins.slider()
    &:hover
        background-color: variables.$bg-color-violet
    &::before     // Круг в середине слайдера
        position: absolute
        content: ""
        @include mixins.circle-in-slider()
        @include mixins.transition()
        @include mixins.flex-direction-centr()
        // @extend %flex-direction-centr-shared


    // Иконка галочки
    .checkmark 
        @include mixins.checkmark-in-slider()

input:checked+.slider 
    background-color: #6a4dcb

input:checked+.slider:before 
    transform: translateX(22px)

input:checked+.slider .checkmark 
    display: block
    transform: translateX(12px)

    
        
